{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% block title %}Conference Halls Validator{% endblock %}</title>
	<link href="{% static "css/base.css" %}" rel="stylesheet">
	<link href="{% static "javascript/script1.js" %}" rel="script">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro&display=swap">
	{% load static %}
</head>
<body>
	<div id="base_header">
		<a href="/" class="logo">Conference Halls Validator</a>
	</div>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
























